Augmentor==0.2.12
numpy==1.23.5
opencv-python==4.11.0.86
Pillow==12.2.0
matplotlib==3.10.9
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.10.1

torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
timm==1.0.28

einops==0.8.2
fairscale==0.4.13
ftfy==6.1.1
h5py==3.16.0
pandas==2.3.3
PyYAML==6.0.3
tqdm==4.67.3

transformers==4.49.0
huggingface_hub==0.36.2
safetensors==0.8.0
tokenizers==0.21.4

tensorboard==2.21.0
